/* $Id$ */

body {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	background-color: #112233;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
}

a {
	color: #ffff00;
}

a:hover {
	color: #ff9900;
}

.micro {
	font-size: 11px;
}

img {
	margin: 0px;
	border: 0px;
}

.job {
	width: 11px;
	height: 11px;
	border: 1px solid #333333;
	float: left;
	clear: both;
	margin-top: 1px;
	margin-right: 3px;
}

hr {
	border: 0px;
	border-top: 1px solid black;
	height: 0px;
	color: black;
}
